server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: https://142332:{{ GRAFANA_API_KEY }}@logs-prod-eu-west-0.grafana.net/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      instance: {{ inventory_hostname }}
      job: varlogs
      __path__: /var/log/*.log

- job_name: syslog
  static_configs:
  - targets:
      - localhost
    labels:
      instance: {{ inventory_hostname }}
      job: syslog
      __path__: /var/log/syslog

- job_name: containers
  static_configs:
  - targets:
      - localhost
    labels:
      instance: {{ inventory_hostname }}
      job: containerlogs
      __path__: /var/lib/docker/containers/*/*.log
