# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
            - targets: ["localhost:9093"]
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
  - alertrules.yml
# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    static_configs:
      - targets: ["monitoring.testlab24.click:9090"]


  - job_name: "node exporter"
    static_configs:
      - targets: ["monitoring.testlab24.click:9100"]

  - job_name: "alert manager"
    static_configs:
      - targets: ["monitoring.testlab24.click:9093"]

  - job_name: 'ec2'
    ec2_sd_configs:
      - region: "{{ AWS_DEFAULT_REGION }}"
        access_key: "{{ AWS_ACCESS_KEY_ID }}"
        secret_key: "{{ AWS_SECRET_ACCESS_KEY }}"
        port: 9100
      
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

      - source_labels: [__meta_ec2_public_ip]
        target_label: public_ip

  - job_name: 'blackbox for dev'
    metrics_path: /probe
    params:
      module: [http_2xx]
    ec2_sd_configs:
      - region: "eu-central-1"
        access_key: "AKIAXY2WY44LHDJUWK72"
        secret_key: "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"
        port: 8080

    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        regex: dev-Server-in-Auto-Scalling-Group
        action: keep
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: monitoring.testlab24.click:9115
  
  - job_name: 'blackbox for prod'
    metrics_path: /probe
    params:
      module: [http_2xx]
    ec2_sd_configs:
      - region: "eu-central-1"
        access_key: "AKIAXY2WY44LHDJUWK72"
        secret_key: "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"
        port: 8080

    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        regex: prod-Server-in-Auto-Scalling-Group
        action: keep
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: monitoring.testlab24.click:9115
